body {
  background: url("../img/wood.jpg") no-repeat center top;
  text-align: center;
  font-size: 20px;
  height: 100vh;
  background-size: cover;
  box-sizing: border-box;
}

#app_abacus {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  color: white;
  .column {
    margin: 0 10px;
    border: 1px solid green;
    padding: 5px;
    background-color: rgba(255, 255, 255, .6);
    &__count {
      padding: 0 10px;
      min-width: 50px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid lightgreen;
      margin-bottom: 5px;
      background-color: rgba(0, 0, 0, .6);
    }
  }
}

input {
  padding: 5px;
  font-size: 15px;
}

#button {
  width: 30%;
  background: aquamarine;
  padding: 10px;
  cursor: pointer;
  margin: 7% auto 40px;
}

.answer {
  font-size: 30px;
  background-color: rgba(0, 0, 0, .6);;
  margin-top: 10px;
  padding: 0 5px;
}

.simulator {
  font-size: 30px;
  padding: 10px;
  background: darkred;
  margin-bottom: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  text-decoration: none;
  transition: all 0.5s;
  &:hover {
    background: lighten(#2d8b07, 15);
    text-decoration: none;
    color: #000;
  }
}

#myAbacus {
  background: rgba(94, 117, 105, 0.8);
}

h1 {
  color: #ffffff;
}

.header {
  .navbar, .dropdown-menu {
    background-color: rgba(255, 255, 255, .3);
    a {
      color: #fff;
    }
  }
  .dropdown-item:focus, .dropdown-item:hover {
    background-color: rgba(0, 0, 0, .3);
  }
  .navbar-toggler {
    background-color: #dedede;
  }
}

