@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  background: url("../img/bacground-game.jpg") no-repeat center center #dedede;
  height: 100vh;
  background-size: cover;
  font-size: 20px;
  position: relative;
}

#main {
  min-width: 1195px;
  min-height: 628px;
  box-shadow: 0 0 57px 9px rgba(255, 203, 43, 0.54);
  border-radius: 23px;
  border: 7px solid #ac8341;
  background: url("../img/znak.png") center center #eae1d3;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .title {
    color: $main-color;
    font-family: $main-font;
    font-size: 46px;
    font-weight: 900;
    width: 662px;
    height: 119px;
    text-transform: uppercase;
    text-align: center;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background-color: #ac8341;
    margin: -5px auto 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#app_abacus {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  .column {
    margin: 0 8px;
    padding: 5px;
    &__count {
      padding: 0 5px;
      min-width: 56px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: -10px;
      color: #96294d;
      font-family: $main-font;
      font-size: 1.3rem;
      font-weight: 500;
      line-height: 1;
    }
  }
}

input {
  margin-top: 25px;
  border: none;
  padding: 0 10px;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #96294d;
  font-family: $main-font;
  font-size: 1.3rem;
  font-weight: 700;
  line-height:1;
  text-align: center;
  box-shadow: inset 0 0 35px 1px rgba(0, 7, 5, 0.31);
}

.green {
  background: #94ec5a;
}

.red {
  background: #d24a43;
}

#button {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  width: 223px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 26px;
  background-color: #eb6969;
  color: #ffffff;
  font-family: $main-font;
  font-size: 23px;
  font-weight: 500;
  line-height: 3.77px;
  letter-spacing: 3.1px;
  box-shadow: 5px 8px 5px #941b1b;
  margin: 100px auto 0;
  &:active {
    box-shadow: none;
  }
}

.answer {
  font-size: 30px;
  background-color: rgba(0, 0, 0, .6);;
  margin-top: 10px;
  padding: 0 5px;
}

#myAbacus {
  background: rgba(94, 117, 105, 0.8);
}

h1 {
  color: #ffffff;
}

#header {
  .navbar, .dropdown-menu {
    background-color: rgba(255, 255, 255, .3);
    a {
      color: #111;
    }
  }
  .dropdown-item:focus, .dropdown-item:hover {
    background-color: rgba(0, 0, 0, .3);
  }
  .navbar-toggler {
    background-color: #dedede;
  }
}

