//==========================================================================
.fab {
  margin-right: 20px;
}
.abacus-menu ul,
.abacus-menu ol {
  list-style: none;
  z-index: 99;
}

.abacus-menu > ul {
  display: flex;
  justify-content: start;
}

.abacus-menu > ul li a {
  display: block;
  background-color: rgba(255, 255, 255, .5);
  padding: 15px 30px 15px 40px;
  font-size: 14px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.abacus-menu > ul li {
  position: relative;
}

.abacus-menu > ul li > a i.fa {
  position: absolute;
  top: 15px;
  left: 12px;
  right: 20px;
}

.abacus-menu > ul li:first-child {
  border-left: 1px solid #ac8341;
}

.abacus-menu > ul li:last-child {
  border-right: 1px solid #ac8341;
}

.abacus-menu li a:hover {
  background: rgba(1, 1, 1, .5);
  color: white;
  box-shadow: 1px 5px 10px -5px black;
  transition: all 0.3s ease;
}

.abacus-menu > ul li a {
  display: block;
  background-color: rgba(255, 255, 255, .5);
  padding: 15px 30px 15px 40px;
  font-size: 14px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

/*sub menu*/
.abacus-menu li ul {
  position: absolute;
  min-width: 150px;
}

.abacus-menu li > ul li {
  border: 1px solid #ac8341;
}

.abacus-menu li > ul li a {
  padding: 10px;
  text-transform: none;
  background-color: rgba(255, 255, 255, .5);
}

.abacus-menu li > ul li ul {
  position: absolute;
  right: -150px;
  top: 0;
}

/*sub menu*/
.abacus-menu li ul {
  position: absolute;
  min-width: 150px;
  display: none;
}

.abacus-menu li:hover > ul {
  display: block;
}

//==========================================================================

.mental-menu ul,
.mental-menu ol {
  list-style: none;
  z-index: 98;

}

.mental-menu > ul {
  display: flex;
}

.mental-menu > ul li a {
  display: block;
  background-color: rgba(255, 255, 255, .5);
  padding: 15px 30px 15px 40px;
  font-size: 14px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.mental-menu > ul li {
  position: relative;
}

.mental-menu > ul li > a i.fa {
  position: absolute;
  top: 15px;
  left: 12px;
  right: 20px;
}

.mental-menu > ul li:first-child {
  border-left: 1px solid #ac8341;
}

.mental-menu > ul li:last-child {
  border-right: 1px solid #ac8341;
}

.mental-menu li a:hover {
  background: rgba(1, 1, 1, .5);
  color: white;
  box-shadow: 1px 5px 10px -5px black;
  transition: all 0.3s ease;
}

.mental-menu > ul li a {
  display: block;
  background-color: rgba(255, 255, 255, .5);
  padding: 15px 30px 15px 40px;
  font-size: 14px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

/*sub menu*/
.mental-menu li ul {
  position: absolute;
  min-width: 150px;
}

.mental-menu li > ul li {
  border: 1px solid #ac8341;
}

.mental-menu li > ul li a {
  padding: 10px;
  text-transform: none;
  background-color: rgba(255, 255, 255, .5);
}

.mental-menu li > ul li ul {
  position: absolute;
  right: -150px;
  top: 0;
}

/*sub menu*/
.mental-menu li ul {
  position: absolute;
  min-width: 150px;
  display: none;
}

.mental-menu li:hover > ul {
  display: block;
}
