//@import "../../node_modules/bootstrap/scss/bootstrap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

body {
  background: url("../img/bacground-game.jpg") no-repeat center center #dedede;
  height: 100vh;
  background-size: cover;
  font-size: 20px;
  position: relative;
  font-family: $main-font;

}

#header {
  display: flex;
  justify-content: start;
  align-items: center;
  @import "menu";
}

#main {
  min-width: 1195px;
  min-height: 628px;
  box-shadow: 0 0 57px 9px rgba(255, 203, 43, 0.54);
  border-radius: 23px;
  border: 7px solid #ac8341;
  background: url("../img/znak.png") center center #eae1d3;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .title {
    color: $main-color;
    font-size: 46px;
    font-weight: 900;
    width: 662px;
    height: 119px;
    text-transform: uppercase;
    text-align: center;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background-color: #ac8341;
    margin: -5px auto 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#app_simulator {
  display: flex;
  justify-content: center;
  width: 85%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .column {
    margin: 0 5px;
    padding: 5px;
    &__count {
      padding: 0 5px;
      min-width: 56px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
      color: #96294d;
      font-size: 3.4rem;
      font-weight: 500;
      line-height: 1;
    }
  }
}

input {
  margin-top: 20px;
  border: none;
  padding: 5px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #96294d;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  box-shadow: inset 0 0 35px 1px rgba(0, 7, 5, 0.31);
  -moz-appearance: textfield;
  &::-webkit-inner-spin-button {
    display: none;
  }
}

.green {
  background: #94ec5a;
}

.red {
  background: #d24a43;
}

#app_simulator {
  .middleFont {
    margin-bottom: -10px;
    font-size: 1.8rem;
  }
  input {
    font-size: 2rem;
  }
}

#app_simulator {
  .smallFont {
    margin-bottom: -10px;
    font-size: 1.5rem;
  }
  input {
    font-size: 1.5rem;
  }
  input.inputAnswer {
    font-size: 93px;
  }
}

#button {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  width: 223px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 26px;
  background-color: #eb6969;
  color: #ffffff;
  font-size: 23px;
  font-weight: 500;
  line-height: 3.77px;
  letter-spacing: 3.1px;
  box-shadow: 5px 8px 5px #941b1b;
  margin: 100px auto 0;
  &:active {
    box-shadow: none;
  }
}

.answer {
  font-size: .7rem;
  text-align: center;
  background-color: rgba(0, 0, 0, .6);;
  margin-top: 3px;
  padding: 5px 0;
  color: #fff;
}

.mental {
  margin-top: 30px;
  width: 319px;
  height: 196px;
  box-shadow: inset 0 0 35px 1px rgba(0, 7, 5, 0.31);
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #941b1b;
  font-size: 93px;
  font-weight: 700;
  line-height: 11.15px;
  text-transform: uppercase;

}

.inputAnswer {
  width: 319px;
  height: 196px;
}

.fleshCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inp__flash input {
  margin-top: 30px;
  border: none;
  padding: 5px;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #96294d;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  box-shadow: inset 0 0 35px 1px rgba(0, 7, 5, 0.31);
  -moz-appearance: textfield;
  &::-webkit-inner-spin-button {
    display: none;
  }
}

.column-flash {
  width: 65px;
  height: 300px;
  background: url("../../src/img/flash-colum.png") no-repeat center center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 0 15px;
  position: relative;
  &__image {
    text-align: center;
    min-height: 50px;
    margin: 3px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &:first-child{
      margin: 10px 0 15px;
    }
    .first{
      margin-top: 80px;
    }
  }
  &__input {
    position: absolute;
    bottom: -70px;
    input {
      margin-top: 20px;
    }
  }
}